// App icon resource
#define IDI_APPICON 101
IDI_APPICON ICON "app.ico"

// Embedded AFM server binary (Android ARM64)
#define IDR_AFM_SERVER 200
IDR_AFM_SERVER RCDATA "..\\server\\afm-server"

// Package label query used by app_process on Android
#define IDR_APP_LABELS_DEX 201
IDR_APP_LABELS_DEX RCDATA "..\\server\\afm-labels.dex"
